PRIVATE_KEY=
GALILEO_RPC=https://evmrpc-testnet.0g.ai
GALILEO_CHAIN_ID=16602
GALILEO_NATIVE_TOKEN=0G
BASE_SEPOLIA_RPC=
ERC8004_REGISTRY_ADDR=0x8004B663056A597Dffe9eCcC1965A193B7388713
GALILEO_EXPLORER_API_KEY=
